* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
.home, .about, .i-am, .name, .about2{
    font-family: 'Halant', serif;
}
.see-projects, .intro, .about-text, .hire-me2, .resume{
    font-family: 'Manrope', sans-serif;
}

body {
    background: black;
}

.container {
    padding: 60px 150px;
    /* background-color: red; */
    /* width: 50rem; */

}

.nav-cover,
.logo,
.nav, .intro-cover, .about-cover, .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
}

.nav-cover {
    background: rgb(241, 245, 254);
    height: 40px;
   
  
    padding: 0px 60px;


}

.nav-cover, .intro-cover,.about-cover, .about-container{
    width: 55rem;
}


.nav {
    width: 250px;
    justify-content: space-between;
}

.logo img {
    width: 120px;

}
.home,
.about,
.hire-me {
    padding: 4px;
}

.home,
.about {
    font-weight: 500;
    font-size: 11px;
}


.hire-me {
    
    font-weight: 700;
   
    text-align: center;
    padding-top: 6px;
    width: 55px;
    border: 1px solid #155EEF;
    border-radius: 5px;

}
.hire-me, .hire-me2, .resume, .see-projects{
    font-size: 9px;
}
.hire-me a, .resume a{
    color: #155EEF;
}
a{
    text-decoration: none;
}
.intro-cover{
    padding: 40px 70px 0px 70px;
 background: black ;
}
.img-left img{
    width: 250px;
    margin: 0px;
}
.img-left{
padding: 0px;

height: 270px;
}
.content-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
width: 23rem;
}
.i-am{
    color: #B8B8B8;
    font-weight: 600;

}
.name, .see-projects a{
    font-weight: 600;
  
}
.name{
    font-size: 30px;
}
.intro{
   color: #A3A3A3;
font-weight: 500;
font-size: 18px;
}
.see-projects{
    background: #155EEF;
font-weight: 700;
font-size: 9px;
width: 84px;
text-align: center;
padding: 6px;
border: 1px solid #155EEF;
border-radius: 5px;
margin-top: 8px;
}
.about-cover{
    padding: 20px 70px 20px 70px;
    background: #F5F8FE;
    /* margin: 20px 0px; */
}
.img-right img{
    width: 280px;
}
.about2{
    font-weight: 600;
    font-size: 19px;
}
.content-right{
    width: 350px;
    /* background-color: yellowgreen; */
    letter-spacing: 1px;
    text-align: justify;

}
.about-text{
    font-weight: 400;
    font-size: 14px;
}
.hire-me2, .resume{
    font-weight: 700;
} 
.hire-me2{
    background: #155EEF;
    font-size: 9px;
    width: 84px;
    text-align: center;
    padding: 6px;
    border: 1px solid #155EEF;
    border-radius: 5px;
}
.resume{
    font-size: 9px;
width: 96px;
text-align: center;
padding: 6px;
border: 1px solid #155EEF;
border-radius: 5px;
}
.hire-me2 a, .name, .see-projects a{
    color: #FFFFFF;
}
.buttons{
    width: 190px;
    margin-top: 30px;
}


/* .about-container{
    background: goldenrod;
    width: 100px;
} */